<!DOCTYPE html> <!--Tells us what type of document this is, in this case it is html.-->

<!-- Html is a language that is used to define layouts for webpages.
   We can define those layouts using things known as tags.
   We can use a series of tags which will tell the web-browser how you want the webpage to look.-->
   
 <html>  <!--Starting Tag, this is the highest level tag, contains everything; the parent tag, any tag inside this tag is a child tag, inside that tag is a grandchild tag, etc.-->
	<head>  <!--Head tag is like this settings of the html file, the command center.-->
		<meta charset ="UTF-8"> <!--A metatag is a tag that defines information about our file, hence giving us metadata. This metatag is telling the web-browser what type of character is being used inside of the document.-->		
		<meta name ="description" content="This is a... website">
		<title>Laxit's Website</title>
	</head>
	<body>
	
	
	  <h2>Laxit's Website</h2> <!--Header of website, cause use h1-h6; 1 being the highest.-->
	  <br/> <!--br tag is for break or space-->
	  <hr/> <!--hr tag is for horozintal line-->
	  <p>This is a paragraph.</p> <!--A paragraph tag, paragraphs will automatically format themselves.-->
	  <p>This is <i>another</i> <b><i>paragraph.</i></b></p> <!--p tag for paragraph, i for italic-->
	  <P><big>This</big> is <small>another</small> paragraph.</p> <!--big and small tags can be used to control word size-->
	  <p>H<sub>2</sub>0 and 10<sup>2</sup> </p> <!--sub tag for subscript, and sup tag for superscript-->
	  
	  
		<!ORDER OF TAGS IN HTML MATTERS, BUT HTML DOES CARE ABOUT WHITESPACE>
	</body>
 </html> <!Ending Tag>
 
   
 